*{
  margin: 0;
  padding: 0  ;
  
}

body{
  
  font-family: "Raleway", sans-serif !important;
  background-image: linear-gradient(#053D66, rgb(0, 0, 0));
}


.thenextera {
  color: rgba(185, 182, 182, 0.5);
  font-size: 10vw;
  font-weight: 800;
  line-height: normal;
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
  
}
/* Custom CSS */



.btn:hover{
  color: #1f1f1f !important;
}

.col{
  display: flex;
    justify-content: flex-end;
    position: relative;
    right: 6vw;
}
.container-fluid{
  display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
    
}
.container-fluid>a{
  color: rgb(81, 82, 80);
}
.container-fluid>a:hover{
  color: #6b717c !important;
}
a {
  text-decoration: none !important;
  color: white !important;
}
a:hover{
  color: #31a9ff !important;
}
.sm{
  display: none;
  
}

.lgpage1{
  background-image: url("./page1.svg");
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lgpage2{
  background-image: url("./page2.svg");
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lgpage3{
  background-image: url("./page3.svg");
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.btn1-sm{
  text-align: right;
    position: relative;
    top: 52vh;
}
.lg-text{
  position: relative;
    top: 24vh;
    text-align: left;
    font-size: 5vw;
    font-weight: 900 !important;
    
}

@media only screen and (max-width: 515px) {
  /* Adjust styles for phones */
  .page1{
    background-image: url("./sm1.svg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page2{
    background-image: url("./sm2.svg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page3{
    background-image: url("./sm3.svg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .btn1-sm{
    text-align: center;
      position: relative;
      top: 52vh;
  }
  .sm-text{
    position: relative;
      top: 24vh;
      text-align: center;
      font-size: 5vh;
      font-weight: 800;
  }
 .gap-3{
  position: relative;
    bottom: 200px;
 }
  .container>.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-size: 10vh;
    bottom: 7vh;
}
.navbar>.container{
  justify-content: center !important;
}

.image-caption{
  bottom: 5px;
    left: 5%;
}

  .lg{
    display: none;
  }
  .sm{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
